$color: rgba(132, 152, 212, 0.5);

div {

  margin: 0;
  padding: 0;
  border-top: 1px solid #CCC;
  height: 90vh;
  background-image: url('../../assets/new_year_background.png');
  background-repeat: repeat;
  display: block;

  article {

    margin: 5vh 10vw;
    padding: 2em;
    background-color: $color;
    height: 70vh;
    border: 1px solid #666;
    border-radius: 10px;
    display: block;
    overflow: hidden;

    header {

      margin: 0 0 1em 0;
      padding: 0;
      text-align: center;
      color: #031c26;

      h2 {
        margin: 0;
        padding: 0;
      }
    }

    div {

      height: 80%;
      border: 0;

      section {

        padding: 0 1em;
        // margin: 1em;
        background-color: $color;
        color: #031c26; //#acc3cc
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}
