
main {
  display: block;
  height: 100vh;
  // flex-direction: column;
  // flex-basis: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  navbar-block {
    width: 100%;
    height: 10vh;
    padding: 0;
    margin: 0;
  }

  intro-block {
    height: 90vh;
  }

  app-page {
    height: 90vh;
    margin: 0;
    padding: 0;
  }
}
